<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Asignación de tareas!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css')}}"/>
        {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        ddd
        {% block body %}
         
        {% endblock %}
        
        {% block javascripts %}
        {% endblock %}
            <script src="{{ asset('bundles/framework/js/jquery-1.12.1.min.js')}}"></script>
            <script src="{{ asset('bundles/framework/js/bootstrap.min.js')}}"></script>
    </body>
</html>
